<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>


  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
					layout="${longdate} |${level}| ${logger} |${message} ${exception:format=ToString,StackTrace}"
					fileName="${basedir}/Logs/DigitalAssetsAPI.txt"
					archiveFileName="${basedir}/Logs/archives/${date:format=ddMMyyyy}/DigitalAssetsAPI_{#}.txt"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="5000000"
					archiveDateFormat="ddMMyyyy"
					keepFileOpen="true"
					encoding="iso-8859-1"
            />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="file" />

  </rules>
</nlog>
